<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/index.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>

</head>

<body>
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo">NETERO</div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
            <!-- USING CHECKBOX HACK -->
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/">Docs</a></li>
                <li><a
                        href="https://discord.com/api/oauth2/authorize?client_id=988172257736142928&permissions=1644971949559&scope=applications.commands%20bot">Invite</a>
                </li>
                <li><a href="https://discord.com/invite/vbknFwz">Discord</a></li>
                <li>{% if not authorized %}
                    <a href="/login">Login</a>
                    {% else %}
                    <a href="/dashboard">Dashboard</a>
                    {%endif %}
                </li>
            </div>
        </ul>
    </nav>


    <div class="picker">
        <h3 style="margin-bottom: 10px;">Hello, {{username}}! Please select a server to get started</h3>
        <section class="cards">
            {% for guild in guilds %}
            <div class="card">
                <a href="/dashboard/{{guild.id}}">
                    {% if guild.icon_url is not none %}
                    <img src="{{guild.icon_url}}" class="{{guild.class_color}}" />
                    {% else %}
                    <img src="/static/no-image-icon-23494.png" class="{{guild.class_color}}" />
                    {% endif %}
                </a>
                <br />
                {{ guild.name }}
            </div>
            {% endfor %}
        </section>
    </div>
</body>

</html>