<!DOCTYPE html>
<html>

<head>
    <title>Netero home</title>
    <link rel="stylesheet" href="static/index.css" />
    <style>
        button {
            background-color: #4caf50;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 12px;
        }

        button:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo">NETERO</div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
            <!-- USING CHECKBOX HACK -->
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/">Docs</a></li>
                <li><a href="/">Invite</a></li>
                <li><a href="/">Discord</a></li>
                <li>{% if not authorized %}
                    <a href="/login">Login</a>
                    {% else %}
                    <a href="/dashboard">Dashboard</a>
                    {%endif %}
                </li>
            </div>
        </ul>
    </nav>
    <p align="center">
        {% if not authorized %}
        <a href="/login"><button>Login with discord</button></a>
        {% else %}
        <a href="/dashboard"><button>Open Dashboard</button></a>
        {%endif %}
    </p>
</body>

</html>